
.whitea9 {  font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea9:link {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea9:visited {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea9:hover {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: underline}
a.whitea9:active {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}

.whitea10 {  font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea10:link {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea10:visited {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whitea10:hover {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: underline; background-color: #0E66B2}
a.whitea10:active {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}

a:visited {  color: #000000;text-decoration: none}
a:hover {   color: #0000FF; text-decoration: underline}
a:active {  color: #FF0000;text-decoration: none}

.blacka9 {  font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}
a.blacka9:link {font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}
a.blacka9:visited {font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}
a.blacka9:hover {font-size: 9pt; line-height: 150%; color: #000000; text-decoration: underline}
a.blacka9:active {font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}


.whiteleft {  font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whiteleft:link {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whiteleft:visited {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.whiteleft:hover {font-size: 10.8pt; line-height: 150%; color: #3399FF; text-decoration: underline}
a.whiteleft:active {font-size: 10.8pt; line-height: 150%; color: #FFFFFF; text-decoration: none}

.a9_12 {  font-size: 9pt; line-height: 120%; text-decoration: none}

.a9_mid {  font-size: 9pt; line-height: 150%; text-decoration: none; color: #000000}
a.a9_mid:link {font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}
a.a9_mid:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.a9_mid:hover {font-size: 9pt; line-height: 150%; color: #CC0000; text-decoration: underline}
a.a9_mid:active {font-size: 9pt; line-height: 150%; color: #000000F; text-decoration: none}

.a10 {  font-size: 10.8pt; line-height: 150%}
.bt {  font-size: 12pt; line-height: 150%; color: #000099; font-weight: bold}
.underlinea9 {  font-size: 9pt; line-height: 120%; color: #0000CC; text-decoration: underline}

.blues {font-size: 10.8pt; line-height: 150%; color: #000066; text-decoration: none}
a.blues:link {font-size: 10.8pt; line-height: 150%; color: #000066; text-decoration: none}
a.blues:visited {font-size: 10.8pt; line-height: 150%; color: #000066; text-decoration: none}
a.blues:hover {font-size: 10.8pt; line-height: 150%; color: #0000CC; text-decoration: underline;}
a.blues:active {font-size: 10.8pt; line-height: 150%; color: #000066; text-decoration: none}

.yellow {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: none}
a.yellow:link {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: none}
a.yellow:visited {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: none}
a.yellow:hover {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: underline;}
a.yellow:active {font-size: 9pt; line-height: 150%; color: #FFFF00; text-decoration: none}

.a24 {  font-size: 24pt; line-height: 150%; color: #000000; text-decoration: none}
.a14 {  font-size: 14pt; line-height: 150%; color: #333333; text-decoration: none}
.a18 {  font-size: 18pt; line-height: 150%; text-decoration: none; font-weight: bold; color: #FF9900}
.a16 {  font-size: 16pt; line-height: 150%; color: #000000; font-weight: bold}
.a12 {  font-size: 12pt; line-height: 150%; font-weight: bold; color: #000000}
.a12a {  font-size: 12pt; line-height: 150%}

.left {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.left:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.left:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.left:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.left:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

.left12 {font-size: 9pt; line-height: 100%; color: #132C7C; text-decoration: none}
a.left12:link {font-size: 9pt; line-height: 100%; color: #132C7C; text-decoration: none}
a.left12:visited {font-size: 9pt; line-height: 100%; color: #132C7C; text-decoration: none}
a.left12:hover {font-size: 9pt; line-height: 100%; color: #F50D0D; text-decoration: underline}
a.left12:active {font-size: 9pt; line-height: 100%; color: #F50D0D; text-decoration: none}

.left01 {font-size: 9pt; font-weight: bold; line-height: 150%; color: #132C7C; text-decoration: none}
a.left01:link {font-siz9: 9pt; font-weight: bold; line-height: 150%; color: #132C7C; text-decoration: none}
a.left01:visited {font-size: 9pt; font-weight: bold; line-height: 150%; colo: #132C7C; text-decoration: none}
a.left01:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.left01:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid:link {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.mid:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid:active {font-size: 9pt; line-height: 150%; color: #0000CC; text-decoration: none}

.mid01 {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid01:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid01:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid01:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid02 {font-size: 9pt; font-weight: bold; line-height: 150%; color: #003399; text-decoration: none}
a.mid02:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #003399; text-decoration: none}
a.mid02:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #003399; text-decoration: none}
a.mid02:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid02:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid03 {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid03:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid03:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid03:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid03:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid04 {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid04:link {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid04:visited {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid04:hover {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid04:active {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid05 {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.mid05:link {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.mid05:visited {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.mid05:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid05:active {font-size: 9pt; line-height: 150%; color: #0000CC; text-decoration: none}

.mid06 {font-size: 9pt; line-height: 150%; color: #945905; text-decoration: none}
a.mid06:link {font-size: 9pt; line-height: 150%; color: #945905; text-decoration: none}
a.mid06:visited {font-size: 9pt; line-height: 150%; color: #945905; text-decoration: none}
a.mid06:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid06:active {font-size: 9pt; line-height: 150%; color: #0000CC; text-decoration: none}

.mid07 {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid07:link {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid07:visited {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.mid07:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid07:active {font-size: 9pt; line-height: 150%; color: #0000CC; text-decoration: none}

.mid08 {font-size: 9pt; line-height: 150%; color: #999999; text-decoration: none}
a.mid08:link {font-size: 9pt; line-height: 150%; color: #999999; text-decoration: none}
a.mid08:visited {font-size: 9pt; line-height: 150%; color: #999999; text-decoration: none}
a.mid08:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid08:active {font-size: 9pt; line-height: 150%; color: #0000CC; text-decoration: none}

.mid09 {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid09:link {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid09:visited {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #333333; text-decoration: none}
a.mid09:hover {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid09:active {font-size: 10.8pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

.mid10 {font-size: 9pt; line-height: 150%; color: #333333;padding-left:10px; text-decoration: none}


.right {font-size: 9pt; line-height: 150%; color: #744604; text-decoration: none}
a.right:link {font-size: 9pt; line-height: 150%; color: #744604; text-decoration: none}
a.right:visited {font-size: 9pt; line-height: 150%; color: #744604; text-decoration: none}
a.right:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.right:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: nione}

.right01 {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.right01:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.right01:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.right01:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.right01:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: nione}

.right02 {font-size: 9pt; line-height: 150%; color: #336600; text-decoration: none}
a.right02:link {font-size: 9pt; line-height: 150%; color: #336600; text-decoration: none}
a.right02:visited {font-size: 9pt; line-height: 150%; color: #336600; text-decoration: none}
a.right02:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.right02:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: nione}

.top {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.top:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: nione}

.top01 {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top01:link {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top01:visited {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.top01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.top01:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: nione}

.bot {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.bot:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.bot:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.bot:hover {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: underline}
a.bot:active {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: nione}

.a10_12 {  font-size: 10.8pt; line-height: 120%; text-decoration: none}
.dot_line {  font-size: 9px; line-height: 150%; color: #FF6600}
.a9 {  font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none}
.fixbg {  background-repeat: no-repeat; background-attachment: fixed; background-position: right bottom}
.fixbg02 {  background-repeat: repeat-x; background-attachment: fixed}

.red {font-size: 10.8pt; line-height: 150%; color: #33CCCC; text-decoration: none; font-weight: bold}
a.red:link {font-size: 10.8pt; line-height: 150%; color: #33CCCC; text-decoration: none}
a.red:visited {font-size: 10.8pt; line-height: 150%; color: #33CCCC; text-decoration: none}
a.red:hover {font-size: 10.8pt; line-height: 150%; color: #33CCCC; text-decoration: underline; background-color: #FFCC00}
a.red:active {font-size: 10.8pt; line-height: 150%; color: #33CCCC; text-decoration: none}

.red10 {font-size: 10.8pt; line-height: 150%; color: #990000; text-decoration: none}
a.red10:link {font-size: 10.8pt; line-height: 150%; color: #990000; text-decoration: none}
a.red10:visited {font-size: 10.8pt; line-height: 150%; color: #990000; text-decoration: none}
a.red10:hover {font-size: 10.8pt; line-height: 150%; color: #990000; text-decoration: underline; background-color: #FFCC00}
a.red10:active {font-size: 10.8pt; line-height: 150%; color: #990000; text-decoration: none}

.form01 {  font-size: 9pt; line-height: 150%; color: #000000; text-decoration: none; }

.formblackboder {  font-size: 9pt; line-height: 120%; text-decoration: blink; border: 1px #20428D double; background-color: #FFFFFF}

.formblackboder01 {  font-size: 9pt; line-height: 120%; text-decoration: blink; border: 1px #637F7F double; background-color: #FFFFFF}

.formbtn { BORDER-RIGHT: #a2a2a2 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #cccccc; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #a2a2a2 1px solid; HEIGHT: 21px }

.formbtn01 { BORDER-RIGHT: #7AA0BB 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #C2DEF2; BORDER-LEFT: #ffffff 1px solid; COLOR: #003366; PADDING-TOP: 3px; BORDER-BOTTOM: #7AA0BB 1px solid; HEIGHT: 21px }

.message01 {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.message01:link {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.message01:visited {font-size: 9pt; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.message01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.message01:active {font-size: 9pt; line-height: 150%; color:#F50D0D; text-decoration: none}

.message02 {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.message02:link {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.message02:visited {font-size: 9pt; line-height: 150%; color: #1C4192; text-decoration: none}
a.message02:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.message02:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

.message03 {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.message03:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.message03:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.message03:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.message03:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

.table01{font-size: 9pt; line-height: 150%; color: #333333; border:#C6CFDE solid;border-width:1 0 0 1}

.td01{font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF;  background-color:#0F6E98; border:#C6CFDE solid; border-width:0 1 1 0}

.td02{font-size: 9pt; line-height: 150%; color: #333333; background-color:#ecf5fc; border:#C6CFDE solid;border-width:0 1 1 0}

.td03{font-size: 9pt; line-height: 150%; color: #00309C; background-color:#ecf5fc; border:#C6CFDE solid;border-width:0 1 1 0}

.td04{font-size: 9pt; line-height: 150%; color: #00309C; background-color:#EFEFEF; border:#C6CFDE solid;border-width:0 1 1 0}

.td05{font-size: 9pt; line-height: 150%; color: #00309C; background-color:#79BCDA; height: 1px solid;border-width:0 0 0 0}

.td06{font-size: 9pt; font-weight: bold; line-height: 150%; color: #0F6E98; background-color:#C1DEEA; border:#C6CFDE solid;border-width:0 1 1 0}

.td07{font-size: 9pt; font-weight: bold; line-height: 150%; color: #0F6E98; background-color:#DEEBF7; border:#C6CFDE solid;border-width:0 1 1 0}

.tableleft01{font-size: 9pt; line-height: 150%; color: #132C7C; border:#5A75CE solid;border-width:1 0 0 1}

.tdleft01{font-size: 9pt; line-height: 150%; color: #132C7C;  background-color:#cce8ff; border:#5A75CE solid; height: 462px; border-width:0 1 1 0}

.tdleft02{font-size: 9pt; line-height: 150%; color: #132C7C;  background-color:#FFFFFF; border:#5A75CE solid; height: 400px; border-width:0 1 1 0}

.table02{font-size: 9pt; line-height: 150%; color: #333333; border:#FFFFFF solid;border-width:1 0 0 1}

.td021{font-size: 9pt; font-weight: bold; line-height: 150%; color: #333333;  background-color:#FFFFFF; border:#FFFFFF solid; border-width:0 1 1 0}

.tableleft03{font-size: 9pt; line-height: 150%; color: #185DB5; border:#185DB5 solid;border-width:1 0 0 1}
.tdleft03{font-size: 9pt; line-height: 150%; color: #132C7C;  background-color:#C2DEF2; border:#185DB5 solid; height: 530px; border-width:0 1 1 0}

.f_btn01 { 
	BORDER-RIGHT: 1px solid #3161C6; 
	BORDER-TOP: 1px solid #C6CFDE; 
	FONT-SIZE: 9pt; 
	BACKGROUND: #F0F6FF; 
	BORDER-LEFT: 1px solid #C6CFDE; 
	COLOR: #333333; 
	PADDING-TOP: 3px; 
	BORDER-BOTTOM: 1px solid #3161C6; 
	HEIGHT: 21px 
}

/*右侧内容区域内容属性表格边框颜色、大小*/
.table{font-size: 9pt; line-height: 150%; color: #333333; border:#c6cfde solid;border-width:1 0 0 1}

/*右侧内容区域内容属性表格背景色、字体颜色(msh 修改 原：td01)*/
.title{font-size: 9pt; line-height: 150%; color: #00309c;   text-align:center; background-color:#d9eaf5; font-weight: bold; border:#c6cfde solid; border-width:0 1 1 0}

/*右侧内容区域背景色、字体颜色*/
.content_L{font-size: 9pt; line-height: 150%; color: #333333; padding-left:5px; background-color:#d9eaf5; border:#DDDDDD solid;border-width:0 1 1 0}

/*右侧内容区域背景色、字体颜色*/
.content_C{font-size: 9pt; line-height: 150%; color: #333333 ; align:center; background-color:#ecf5fc; border:#C6CFDE solid;border-width:0 1 1 0}

/*右侧内容区域间隔横线背景色、高度*/
.split_line{ 
	font-size: 9pt;
	line-height: 150%;
	color: #00309c;
	background-color: #3161c6;
	height: 2px solid;
	border-width: 0 0 0 0;
}
/*标题*/
.edit_Title{ font-size: 10pt; line-height: 150%; color: #333333; font-weight: bold;}