/*===============================================*/
/*=============��¼ҳ�沿��=========================*/
/*===============================================*/
/*��¼ҳ���¼���ִ�С����ɫ*/
.login01 {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.login01:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.login01:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.login01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.login01:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

/*��¼ҳ����������*/
.f_input_login {font-size: 9pt; line-height: 150%; color: #333333}

/*��¼ҳ���Ȩ������ͼƬ����ɫ*/
.copyright_login{font-size: 9pt; line-height: 150%; color: #666666; font-family: "Verdana", "Arial" ; text-decoration: none}

/*===============================================*/
/*=============�����ܲ���=========================*/
/*===============================================*/
/*body������ɫ��������ɫ*/
BODY {
	
	 SCROLLBAR-FACE-COLOR: #CECEDE; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #848484; 
SCROLLBAR-3DLIGHT-COLOR: #E7E7EF; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #E6EDF7; 
SCROLLBAR-DARKSHADOW-COLOR: #A0AEDD}

/*����������t�ӵ���ɫ����*/
a:link{font-size: 9pt;  text-align:center; line-height: 150%; color: #333333; text-decoration: none}
a:visited {  color: #000000;text-decoration: none}
a:hover {   color:#FF9900; text-decoration: underline}

a:active {  color: #FF0000;text-decoration: none}

/*ͷ�������������С����ɫ*/
.top {font-size: 9pt; font-weight: bold; text-align:center; line-height: 150%; color: #333333; text-decoration: none}
a.top:link {font-size: 9pt; font-weight: bold; text-align:center; line-height: 150%; color: #333333; text-decoration: none}
a.top:visited {font-size: 9pt; font-weight: bold; text-align:center; line-height: 150%; color: #333333; text-decoration: none}
a.top:hover {font-size: 9pt; font-weight: bold; text-align:center; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.top:active {font-size: 9pt; font-weight: bold; text-align:center; line-height: 150%; color: #F50D0D; text-decoration: nione}

/*ͷ�������С����ɫ*/
.top01 {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.top01:link {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.top01:visited {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.top01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.top01:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: nione}

/*ͷ�����°벿�ּ���ͼ���߶ȿ���*/
.topbg01 { height:9; background-image: url(images/top_03.gif);  background-repeat: repeat-x; }

/*����ܱ���ͼƬ*/
.leftbg01 { width:100%; background-image: url(images/left_bg_01.gif);  background-repeat: repeat-y; }

/*����񱳾�ɫ���߿���ɫ���߿��С����*/
.tableleft01{ font-size: 9pt; line-height: 150%; color: #2650A6; border:#C4D1ED solid;border-width:1 0 0 1}

/*����ܵ�������ͼƬ���߿���ɫ���߿��С����*/
.leftbg02 { height:22; background-image: url(images/left_01.gif);  background-repeat: repeat-x; border:#C4D1ED solid; border-width:0 1 1 0 }

/*��������ͽṹ���򱳾�ͼƬ���߿���ɫ���߿��С����*/
.leftbg03 { height:100%; background-image: url(images/left_bg_02.gif);  background-repeat: repeat-y; border:#C4D1ED solid; border-width:0 1 1 0}

/*����ܵ����Ӵ�������ɫ*/
.left {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.left:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.left:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF; text-decoration: none}
a.left:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.left:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

/*���������������ɫ*/
.left12 {font-size: 9pt; line-height: 120%; color: #2650A6; padding-left:5pt; text-decoration: none}
a.left12:link {font-size: 9pt; line-height: 120%; color: #2650A6; padding-left:5pt; text-decoration: none}
a.left12:visited {font-size: 9pt; line-height: 120%; color: #2650A6; padding-left:5pt; text-decoration: none}
a.left12:hover {font-size: 9pt; line-height: 120%; color: #F50D0D; padding-left:5pt; text-decoration: underline}
a.left12:active {font-size: 9pt; line-height: 120%; color: #F50D0D; padding-left:5pt; text-decoration: none}

/*��Ȩ������ɫ*/
.copyright {font-size: 9pt; line-height: 150%; color: #333333; padding-left:5pt; font-family: "Verdana", "Arial" ; text-decoration: none}
a.copyright:link {font-size: 9pt; line-height: 150%; color: #1C4192; padding-left:5pt; font-family: "Verdana", "Arial" ; text-decoration: none}
a.copyright:visited {font-size: 9pt; line-height: 150%; color: #333333; padding-left:5pt; font-family: "Verdana", "Arial"; text-decoration: none}
a.copyright:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; padding-left:5pt; font-family: "Verdana", "Arial"; text-decoration: underline}
a.copyright:active {font-size: 9pt; line-height: 150%; color: #0000CC; padding-left:5pt; font-family: "Verdana", "Arial"; text-decoration: none}

/*��Ȩ������ͼƬ����ɫ*/
.copyrightbg01 { background-image: url(images/copyright_bg.gif);  background-repeat: repeat-x; }

/*�м���������t��������ɫ����С*/
.mid {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.mid:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

/*�м���������t��������ɫ����С*/
.mid01 {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid01:link {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid01:visited {font-size: 9pt; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid01:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid01:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}

/*�м���������t��������ɫ����С*/
.mid02 {font-size: 9pt; font-weight: bold; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid02:link {font-size: 9pt; font-weight: bold; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid02:visited {font-size: 9pt; font-weight: bold; line-height: 150%; color: #2650A6; text-decoration: none}
a.mid02:hover {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.mid02:active {font-size: 9pt; font-weight: bold; line-height: 150%; color: #F50D0D; text-decoration: none}

/*�м䱳��ͼƬ*/
.midbg01 { background-image: url(images/mid_bg_01.gif);  background-repeat: repeat-x; }

/*�м䵱ǰλ��������ɫ*/
.location {font-size: 9pt; line-height: 150%; color: #333333; padding-left:5pt; text-decoration: none}
a.location:link {font-size: 9pt; line-height: 150%; color: #333333; padding-left:5pt; text-decoration: none}
a.location:visited {font-size: 9pt; line-height: 150%; color: #333333; padding-left:5pt; text-decoration: none}
a.location:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; padding-left:5pt; text-decoration: underline}
a.location:active {font-size: 9pt; line-height: 150%; color: #F50D0D; padding-left:5pt; text-decoration: none}

/*��ɫ������ɫ�������ڷ�ҳ��������*/
.red {font-size: 9pt; line-height: 150%; color: #FF0000; text-decoration: none}
a.red:link {font-size: 9pt; line-height: 150%; color: #FF0000; text-decoration: none}
a.red:visited {font-size: 9pt; line-height: 150%; color: #FF0000; text-decoration: none}
a.red:hover {font-size: 9pt; line-height: 150%; color: #FF0000; text-decoration: underline}
a.red:active {font-size: 9pt; line-height: 150%; color: #FF0000; text-decoration: none}

/*��ҳ�������С����ɫ*/
.turnpage {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.turnpage:link {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.turnpage:visited {font-size: 9pt; line-height: 150%; color: #333333; text-decoration: none}
a.turnpage:hover {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: underline}
a.turnpage:active {font-size: 9pt; line-height: 150%; color: #F50D0D; text-decoration: none}


/*����򡢶�ѡ����-�˵��ȱ?��������*/
.f_input {font-size: 9pt; line-height: 150%; color: #333333}
.f_select {font-size: 9pt; line-height: 150%; color: #333333}
.f_checkbox {font-size: 9pt; line-height: 150%; color: #333333}
/* 
.f_btn01 { BORDER-RIGHT: #a2a2a2 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #cccccc; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #a2a2a2 1px solid; HEIGHT: 21px }
*/
.f_btn02 { BORDER-RIGHT: #7AA0BB 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #C2DEF2; BORDER-LEFT: #ffffff 1px solid; COLOR: #003366; PADDING-TOP: 3px; BORDER-BOTTOM: #7AA0BB 1px solid; HEIGHT: 21px }

.f_btn01 {
BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
/*�Ҳ����������������Ա��߿���ɫ����С*/
.table{font-size: 9pt; line-height: 150%; color: #333333; border:#65B2DC solid;border-width:1 0 0 1}

/*�Ҳ����������������Ա�񱳾�ɫ��������ɫ(msh �޸� ԭ��td01)*/
.title{font-size: 9pt; font-weight: bold; line-height: 150%; color: #333333;   text- align:center; background-color:#EFE7D0; border:#65B2DC solid; border-width:0 1 1 0}
/*�Ҳ��������򱳾�ɫ��������ɫ*/
.content_L{font-size: 9pt; line-height: 150%; color: #333333; padding-left:5px; background-color:#DAE7F0; border:#65B2DC solid;border-width:0 1 1 0}

/*�Ҳ��������򱳾�ɫ��������ɫ*/
.content_C{font-size: 9pt; line-height: 150%; color: #333333 ; align:center; background-color:#DAE7F0; border:#65B2DC solid;border-width:0 1 1 0}

/*�Ҳ�������������߱���ɫ���߶�*/
.split_line{background-image: url(images/mid_adorn_02.gif); height: 2; px solid;border-width:0 0 0 0}

/*�Ҳ������ǰ���ֱ�����ɫ*/
.title_cx{font-size: 9pt; line-height: 150%; color: #333333; padding-left:5px; background-color:#F0F6FF; border:#DDDDDD solid;border-width:0 1 1 0}
/*�Ҳ������ǰ���ֱ�����ɫ*/
.title_Q{font-size: 9pt; line-height: 150%; color: #333333; padding-left:5px; background-color:#F0F6FF; border:#DDDDDD solid;border-width:0 1 1 0}
/*�Ҳ����������������Ա�񱳾�ɫ��������ɫ*/
.td06{font-size: 9pt; font-weight: bold; line-height: 150%; color: #FFFFFF;  padding-left:5px ;  background-color:#5F85D9; border:#DDDDDD solid; border-width:0 1 1 0}

/*�Ҳ�����������Ҷ�����������Ա�񱳾�ɫ��������ɫ*/
.text_R{font-size: 9pt; line-height: 150%; color: #333333;   text-align:right; background-color:#FFFFFF; border:#DDDDDD solid;border-width:0 1 1 0}

/*�����߿���ɫ*/
.table02{border:#767676 solid;border-width:1 1 1 1}

.bgtop {background-color:#32A1F7; }
.dtree {	
	font-size: 9pt;
	color: #666;
	white-space: nowrap;
}
.dtree .nodeSel {
	background-color: #c0d2ec;
}
.dtree .node{
	
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
.page_options{
	float:right;
	text-align:left; 
	width:80px;
	color:#5781b1;
	cursor:pointer;
	z-index:90; 
	zoom:1; 
	position: relative;
	margin:1px 0px 0px 0px;
}

.page_options img{
	background:none;
}

.Sright{
	position: absolute; 
	width:150px; 
	height:auto !important;
	height:auto;
	min-height:80px; 
	left:-85px; 
	top:18px; 
	z-index:1; 
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffefeff,EndColorStr=#fff3f5fb, GradientType=0)progid:DXImageTransform.Microsoft.Shadow(Color=#ffb6bccb, Strength=2, Direction=135);
	padding:3px; 
	font:12px arial; 
	border:1px solid #ccc; 
	background:#fff; 
	display: none;
	padding:10px;
}
#massage_box{ position:absolute;  left:expression((body.clientWidth-220)/2); top:expression((body.clientHeight-130)/2); width:220px; height:130px;filter:dropshadow(color=#9199A7,offx=3,offy=3,positive=2); z-index:3; visibility: hidden;}

#mask{ position:absolute; top:0; left:0; width:expression(body.clientWidth); height:expression(body.clientHeight); background:#9199A7; filter:ALPHA(opacity=30); z-index:1; visibility: hidden;}
#mask1{position:absolute;left:expression((body.clientWidth-220)/2); top:expression((body.clientHeight-130)/2); width:220px; height:130px;z-index:2; visibility:hidden; }

body{ background:#F3F3F5;font:normal 12px 宋体;}



